<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../../styles/landingpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Buenard:wght@400..700&family=Manrope:wght@200..800&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/06917677b3.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="site-footer">
        <div class="footer-logo">Empathy</div>
        <div class="footer-br"></div>
        <div class="footer-content">
            <p class="copyright">©️ Empathy 2025, All right reserved</p>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>